.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.modal-content {
    font-family: "Roboto";
    padding: 20px;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
    .form-group {
        color: #8b8585;
        text-align: left;
        img {
            position: absolute;
            margin-top: -32px;
            margin-left: 0.65rem;
            width: 20px;
            filter: grayscale(1);
        }
    }
    input {
        border: 0.5px solid #8b8585;
        margin: 0;
    }
    .react-datepicker-wrapper {
        display: block;
    }
    .input-icon {
        padding: 0.65rem 1rem 0.65rem 2.5rem;
    }
}

.modal-hapus {
    padding: 35px 50px;
    text-align: center;
    font-family: "Poppins";
    p {
        margin-bottom: 50px;
        font-size: 18px;
    }
    button {
        margin: 0 15px;
    }
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.modal-content::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 5px;
}
/* Handle */
.modal-content::-webkit-scrollbar-thumb {
    background: #d8d6da;
    border-radius: 5px;
}
