/* Fonts */

@font-face {
  font-family: 'AntipastoPro';
  font-weight: bold;
  src: url('./assets/fonts/AntipastoProDemiBold.ttf');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'AntipastoPro' !important;
}

#root {
  height: 100%;
}
