/* Fonts */
@font-face {
  font-family: 'AntipastoPro';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/antipasto.light.ttf') format('truetype');
}
@font-face {
  font-family: 'AntipastoPro';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/antipasto.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AntipastoPro';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/antipasto.medium.ttf') format('truetype');
}

@font-face {
  font-family: 'AntipastoPro';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/antipasto.demibold.ttf') format('truetype');
}

@font-face {
  font-family: 'AntipastoPro';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/antipasto.bold.ttf') format('truetype');
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'AntipastoPro' , 'Roboto';
  // font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}
